body,h1 {font-family: "Montserrat", sans-serif}
a {
  text-decoration: none;
}
section {
  width: 50%;
  border-radius: 0;
}
img {
  margin-bottom: 12px
  padding-left: 15%;
}
nav {
  width: 100%;
  background-color: #191919;
  overflow: hidden;
}
nav a {
    display: block;
    float: right;
/*We're just setting up fonts settings here*/
    font-family: sans-serif;
    font-size: 9px;
    color: white;

   /*Padding Our Box*/
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
/Let's remove the dumb link decoration*/
    text-decoration: none;
}
nav h1 {
}
#id {
  font-size: 72px;
  font-weight: bold;
}
#logo {
 /*font*/
  font-family: helvetica;
  font-size: 32px;
  letter-spacing: -2px;
  font-weight: lighter;
  color: #ffffff;
  text-align: left;
  float: left;
/*box*/
  padding-left: 20px;
  padding-right: 40px;
  margin-right: 10px;
  margin-top: -20px;
  }
#container {
  width: 400px;
  height: 400px;
  position: relative;
}
#animate {
  font-size: 72px;
  position: absolute;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}
.mySlides {
  width: 95%;
}
.navbar {
  border-radius: 0;
}

.jumbotron-asphalt {
  background: #34495e;
  color: #ecf0f1;
}

 .text-centered { text-align: center; }
 .no-margin { margin: 0; }

@media(max-width: 767px) {
  .jumbotron h1 {
    font-size: 31px;
  }
}
